AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCompound: true
    PadOperators: true
AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveDeclarations:
    Enabled: false
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
    Kind: Never
#  OverEmptyLines - Unused
#  MaxEmptyLinesToKeep - Unused
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
#  AlignConsecutiveShortCaseStatements - Unused
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None # All Clang 19
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
AttributeMacros: []
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
# BraceWrapping - Ignored because of 'BreakBeforeBraces'
# BracedInitializerIndentWidth - Ignored, prioritizing 'ContinuationIndentWidth'
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Never
BreakAfterJavaFieldAnnotations: true
BreakArrays: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: Always
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
# BreakFunctionDefinitionParameters: false - Clang 19
BreakInheritanceList: AfterColon
BreakStringLiterals: true
# BreakTemplateDeclarations: Yes - Clang 19
ColumnLimit: 120
# CommentPragmas - Unused
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
ForEachMacros: []
IfMacros: []
IncludeBlocks: Regroup
# IncludeCategories - Unused
# IncludeIsMainRegex - Unused
# IncludeIsMainSourceRegex  - Unused
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: None
IntegerLiteralSeparator:
    Binary: -1
    #  BinaryMinDigits - Unused
    Decimal: 3
    DecimalMinDigits: 5
    Hex: 2
    HexMinDigits: 4
# JavaImportGroups - Unused
# JavaScriptQuotes - Unused
# JavaScriptWrapImports - Unused
KeepEmptyLinesAtEOF: false
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
Language: Cpp
LineEnding: LF
# MacroBlockBegin - Unused
# MacroBlockEnd - Unused
# Macros - Unused
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
NamespaceMacros: []
# ObjCBinPackProtocolList - Unused
# ObjCBlockIndentWidth - Unused
# ObjCBreakBeforeNestedBlockParam - Unused
# ObjCPropertyAttributeOrder - Unused
# ObjCSpaceAfterProperty - Unused
# ObjCSpaceBeforeProtocolList - Unused
PPIndentWidth: -1
PackConstructorInitializers: Never
# PenaltyBreakAssignment - Unused
# PenaltyBreakBeforeFirstCallParameter - Unused
# PenaltyBreakComment - Unused
# PenaltyBreakFirstLessLess - Unused
# PenaltyBreakOpenParenthesis - Unused
# PenaltyBreakScopeResolution - Unused
# PenaltyBreakString - Unused
# PenaltyBreakTemplateDeclaration - Unused
# PenaltyExcessCharacter - Unused
# PenaltyIndentedWhitespace - Unused
# PenaltyReturnTypeOnItsOwnLine  - Unused
PointerAlignment: Left
QualifierAlignment: Left
# QualifierOrder: ['inline', 'friend', 'static', 'constexpr', 'restrict', 'type', 'const', 'volatile' ] - Not supported
# RawStringFormats - Unused
ReferenceAlignment: Left
ReflowComments: true
RemoveBracesLLVM: false
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SkipMacroDefinitionBody: false
SortIncludes: CaseSensitive
# SortJavaStaticImport - Unused
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Before
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterControlStatements: true
    AfterForeachMacros: true
    AfterFunctionDeclarationName: false
    AfterFunctionDefinitionName: false
    AfterIfMacros: true
    AfterOverloadedOperator: false
    AfterRequiresInClause: false
    AfterRequiresInExpression: false
    BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: -1
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
StatementAttributeLikeMacros: []
StatementMacros: []
TabWidth: 4
TypenameMacros: []
UseTab: Always
# VerilogBreakBetweenInstancePorts - Unused
WhitespaceSensitiveMacros: []
